/// GLOBAL ELEMENTS

/// BUTTONS

.button {
  background: none;
  font-family: $family-serif;

  &.is-secondary {
    border: none;
  }
}

.button.sort-button {
  font-size: 2em;
  padding: 1em 0.5em;
}


/// BOX FEATURED TICKETS

.box {
  .body {
    display: flex;
    width: 100%;
    height: 100%;
    flex-flow: column nowrap;
    justify-content: space-between;
  }
}

.box.featured-tickets {
  border-radius: 0px;
  border: none;
  box-shadow: none;
  height: 250px;

  header {
    justify-content: space-between;
  }

  footer {
    justify-content: flex-end;
  }
}


/// SEARCH

.search.search-main-menu {
  margin: 0 0.3em;
  font-size: 2em;
  font-family: $family-serif;
  height: 40px;
  padding: 1em;
}


///// HERO

.hero.hero-primary {
  padding-top: 9em;
  margin-top: -10em;
}


///// LIST ITEMS

.ticket-list-item, .event-list-item, .performer-list-item {
  font-family: $family-sans-serif;
  display: flex;
  position: relative;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: $radius-large;
  overflow: hidden;
  background: $white;
  cursor: pointer;

  @include mappy-bp(med){
    flex-flow: row nowrap;
  }

  &:hover {
    box-shadow: $box-shadow-light;
  }

  > div:not(.list-item-date) {
    text-align: center;
    margin: 0.6em;
  }

  span {
    line-height: 0.9em;
    text-align: center;
  }
}

.performer-list-item {
  padding: 0.8em 0;
  margin: 0.3em;

}

.ticket-list-item {
  margin: 0 0 0.5em 0;
  padding: 1em;
}

.event-list-item {
  margin: 0 0 0.5em 0;
  padding: 1em 1em 1em 10em;

}

.list-item-name {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  span {
    font-family: $family-sans-serif;
    font-size: 2.6em;
    line-height: 0.9em;
  }
}

.list-item-seats {
  span {
    font-size: 1.8em;
    padding-right: 0.4em;
    padding-left: 0.3em;
    border-right: 1px solid $grey-light;
    color: $grey;
    font-style: italic;
    line-height: 1.8em;
    strong {
      font-size: 1.4em;
    }
  }
}

.list-item-location {
  span {
    padding-right: 0.4em;
    padding-left: 0.3em;
    font-size: 1.5em;
    font-weight: 800;
    color: $grey;
  }
}

.list-item-date {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 110%;
  width: 6em;
  left: 0;
  top: -5%;
  padding: 0 1em;
  margin: 0;
  font-size: 1.5em;

  span {
    text-align: center;
  }

  span.day {
    font-size: 2em;
    font-weight: 800;
  }

}

.list-item-button {
  button.button {
    font-family: $family-serif;
    font-size: 1.5em;
  }
}


/// PROFILE PHOTO

.profile-photo {
  display: inline-block;
  overflow: hidden;
  background-size: cover;
  border-radius: 50%;

  &.is-small {
    height: 30px;
    width: 30px;
    margin: 0 0.5em 0 0;
  }

}


/// DROPZONE

.dropzone#upload-ticket {
  width: 100%;
  border-radius: $radius-large;
  border: 1px solid $grey-lighter;

  font-family: $family-sans-serif;
  font-size: 3em;
  color: $grey-dark;

}

