///// COMPONENTS

///// HEADER

section.header {
  z-index: index($elements, header);
}

nav.nav {
  background: none;
  padding: 1.5em;

  &.reduce {
    background: $transparent-black;
    padding: 0;

  }
}

.nav-main-menu {
  display: none;

  @include mappy-bp(med){
    display: block;
  }
}


/// MAIN MENU DROPDOWN

.has-dropdown {
  margin: 0 0.3em;

  &:hover {
    > .main-menu-dropdown {
      display: flex;
    }
  }
}

.main-menu-dropdown {
  position: fixed;
  display: none;
  left: 5%;
  margin: 0 auto;
  width: 90%;
  height: auto;
  background: none;
  padding-top: 20px;


  .columns {
    padding: 1em;
  }

  .box {
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    min-height: 400px;
    background: $white-grey-gradient;
    border-radius: $radius-small;
    box-shadow: $box-shadow;
  }


  header, footer {
    display: flex;
    justify-content: center;
    .title, .subtitle {
      font-family: $family-sans-serif;
    }
  }
}




//// NOTIFICATIONS

.notifications-hold {
  background: none;
  margin: 0;
  padding: 0 10vw;
  z-index: 999;
}

.notification {
  .title {
    margin-bottom: 0;
  }
  button {
    margin: 0 1em;
  }
}

/// FOOTER

section.footer {
  background: $footer-background;
  padding-top: 250px;
  padding-bottom: 250px;

}
