///// COMPONENTS

///// HEADER

section.header {
  z-index: index($elements, header);
}

nav.nav {
  background: none;
  padding: 1.5em;

  &.reduce {
    background: $transparent-black;
    padding: 0;

  }
}

.nav-main-menu {
  display: none;

  @include mappy-bp(med){
    display: block;
  }
}


/// MAIN MENU DROPDOWN

.has-dropdown {
  margin: 0 0.3em;

  &:hover {
    > .main-menu-dropdown {
      display: flex;
    }
  }
}

.main-menu-dropdown {
  position: fixed;
  display: none;
  left: 5%;
  margin: 0 auto;
  width: 90%;
  min-height: 450px;
  background: none;
  padding-top: 20px;


  .columns {
    padding: 1em;
  }

  .box {
    display: flex;
    padding: 0 0 3em 0;
    margin: 0;
    flex-flow: column nowrap;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    background: $white-grey-gradient;
    border-radius: $radius-small;
    box-shadow: $box-shadow;
  }

  header, footer {
    display: flex;
    justify-content: center;
    .title, .subtitle {
      font-family: $family-sans-serif;
    }
  }
}

//// EVENTS TICKET LIST

.tickets-list-header {
  border-bottom: 1px solid $grey-light;
  margin: 0 0 2em 0;
}

.tickets-list {

}


//// NOTIFICATIONS

.notifications-hold {
  background: none;
  margin: 0;
  padding: 0 10vw;
  z-index: 999;
}

.notification {
  .title {
    margin-bottom: 0;
  }
  button {
    margin: 0 1em;
  }
}

/// FOOTER

section.footer {
  background: $footer-background;
  padding-top: 250px;
  padding-bottom: 250px;

}


//// CHECKOUT

.checkout {
  display: flex;
  position: fixed;
  width: 96vw;
  height: 15vh;
  background: $white-grey-gradient;
  border-radius: $radius-large;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  bottom: 2vh;
  left: 2vw;
  z-index: 100;
  cursor: pointer;
  transition: all 0.2s $ease-cubic;
  overflow-y: scroll;

  &:hover {
    height: 18vh;
  }

  &.is-open {
    height: 100vh;
    width: 100vw;
    border-radius: 0px;
    left: 0;
    bottom: 0;
  }
}

.cover {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $transparent-black;
  z-index: 90;
}