///// LAYOUTS

body {
  font-size: 9px;
  min-height: 100vh;
  font-family: $family-serif;
  letter-spacing: -0.08em;
  z-index: index($elements, body);


}

.wrapper {
  display: block;
  position: relative;
  z-index: index($elements, wrapper);
}

.wrapper.dashboard {
  height: 100vh;
}