//// MODIFIERS

.title, .subtitle {
  font-family: $family-serif;
}

.center-column, .center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.center-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.columns {
  padding-top: 1em;
}

header, footer {
  padding: 1.5em;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}


.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.is-fullheight {
  height: 100%;
}

.has-no-margin {
  margin: 0;
}

.is-min-height {
  min-height: 100vh;
}

/// is-background COLOR


@each $name, $pair in $colors {
  $color: nth($pair, 1);
  $color-invert: nth($pair, 2);
  .is-#{$name}{
    .title, .subtitle, a, strong, p, span {
      color: $color-invert;
    }
    .hero-body .box {
      .title, .subtitle, a, strong, p {
        color: $color;
      }
    }
    .button, header, footer {
      .title, .subtitle, a, strong, p, span {
        color: $color-invert;
      }
    }
  }
}

.has-dropdown {
  @each $name, $item in $theme-colors {
    $color: nth($item, 1);
    $color-invert: nth($item, 2);
    $color-alt: nth($item, 3);

    &.is-#{$name} {
      .title, .subtitle, p {
        color: $color-alt;
      }
      .box {
        border: 5px solid $color;
      }
      .column {
        .title, .subtitle, p {
          color: $color-alt;
        }
      }
      header {
        background: $color;
        .title, .subtitle, p {
          color: $color-invert;
        }
      }
    }
  }
}

.event-list-item, .performer-list-item {
  @each $name, $item in $theme-colors {
    $color: nth($item, 1);
    $color-invert: nth($item, 2);
    $color-alt: nth($item, 3);

    &.is-#{$name} {
      border: 1px solid $color;

      .buy-button {
        background: $color;
        color: $color-invert;
        border: none;
      }

      .event-date {
        background: $color;
      }
      .event-name {
        span {
          color: $color;
        }
      }

    }
  }
}

.hero-body {
  width: 100%;
  padding: 150px 1em;
}

.is-background {
  background-size: cover;
  margin: 0;
  padding: 0;

  .hero-body, .body {
    height: 100%;
    background: $transparent-cover;
  }

}

.has-transition {
  transition: all 0.2s ease-in;
}

.has-dropdown {
  position: relative;
}