//// MODIFIERS

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.title, .subtitle {
  font-family: $family-serif;
}

span, p {
  font-family: $family-sans-serif;

  @each $size in $sizes {
    $i: index($sizes, $size);
    &.is-#{$i}{
      font-size: $size;
    }
  }
}

.is-sans-serif {
  font-family: $family-sans-serif;

  &.subtitle, &.title {
    font-weight: 400;
  }
}

.title.is-highlighted, .subtitle.is-highlighted {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

span.is-highlighted {
  padding: 0.3em;
  margin: 1em 0;
  font-weight: 400;

  @each $name, $item in $theme-colors {
    $color: nth($item, 1);
    &.is-#{$name} {
      background: $color;
    }
  }
}

.center-column, .center {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}
.center-row {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.columns {
  padding-top: 1em;
}

header, footer {
  padding: 1.5em;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}


.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

.is-full {
  height: 100%;
}

.has-no-margin {
  margin: 0;
}

.is-min-height {
  min-height: 100vh;
}

/// is-background COLOR


@each $name, $pair in $colors {
  $color: nth($pair, 1);
  $color-invert: nth($pair, 2);
  .is-#{$name}{
    .title, .subtitle, a, strong, p, span {
      color: $color-invert;
    }
    .hero-body .box {
      .title, .subtitle, a, strong, p {
        color: $color;
      }
    }
    .button, header, footer {
      .title, .subtitle, a, strong, p, span {
        color: $color-invert;
      }
    }
  }
}

.has-dropdown {
  @each $name, $item in $theme-colors {
    $color: nth($item, 1);
    $color-invert: nth($item, 2);
    $color-alt: nth($item, 3);

    &.is-#{$name} {
      .title, .subtitle, p {
        color: $color-alt;
      }
      .box {
        border: 5px solid $color;
      }
      .column {
        .title, .subtitle, p {
          color: $color-alt;
        }
      }
      header {
        background: $color;
        .title, .subtitle, p {
          color: $color-invert;
        }
      }
    }
  }
}

.event-list-item, .performer-list-item, .ticket-list-item {
  @each $name, $item in $theme-colors {
    $color: nth($item, 1);
    $color-invert: nth($item, 2);
    $color-alt: nth($item, 3);

    &.is-#{$name} {
      border: 1px solid $color;

      .buy-button {
        background: $color;
        color: $color-invert;
        border: none;
      }

      .list-item-date {
        background: $color;
      }
      .list-item-name {
        span {
          color: $color;
        }
      }

    }
  }
}

.has-transition {
  transition: all 0.2s $ease-cubic;
}

.has-drop-shadow {
  box-shadow: $box-shadow-light;
}

.has-dropdown {
  position: relative;
}

.is-active > .ticket-list-item {
  border: 5px solid $orange;
}

.level {
  width: 100%;
}

//// HERO

.hero-body {
  width: 100%;
  padding: 150px 1em;
}

.is-background {
  background-size: cover;
  margin: 0;
  padding: 0;

  .hero-body, .body {
    height: 100%;
    background: $transparent-cover;
  }

}

.hero.is-event {
  position: relative;
  overflow: visible;

  .hero-body {
    padding: 60px 1em;
  }

  .hero-date {
    position: absolute;
    bottom: -40px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }

}


//// RESPONSIVE

.hide-on-mobile {
  display: none;
  
  @include mappy-bp(med) {
    display: block;
  }
}

//// LEVEL

.level {
  justify-content: center;

  .level-center {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .level-item {
      padding: 0.3em;
    }
  }
}

//// IMAGES

img {
  width: 90%;
  height: auto;
  margin: 0 auto;
}