// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Shrikhand');

@import "../../../bower_components/mappy-breakpoints/mappy-breakpoints";

@import "bulma/sass/utilities/functions.sass";
@import "_variables";
@import "bulma/sass/utilities/mixins.sass";
@import "bulma/sass/utilities/controls.sass";
@import "bulma/sass/base/_all";
@import "bulma/sass/elements/_all";
@import "bulma/sass/components/_all";
@import "bulma/sass/grid/_all";
@import "bulma/sass/layout/_all";

@import "_animate";

@import "../../../node_modules/font-awesome/css/font-awesome";

@import "_modifiers";

@import "_base";

@import "layouts/_layouts";

@import "elements/_elements";

@import "components/_components";

@import "_forms";

@import "_animations";